{{define "content"}}

<main>
  <div class="container">
    <div class="main-container">
      <div class="name-wallet">
        Accout 1

      </div>
      <hr class="mb-3">
      <div class="d-flex justify-content-between">
        <div>
          <p>Total Equity Value</p>
          <p class="amount">≈ <span data-copy="0.0002423" id="copy">0.0002423</span> BTC</p> 
        </div>
        <div>
          <p id="copy" class="address" data-copy="1FfmbHfnpa...455paPh">1FfmbHfnpa...455paPh</p>
        </div>
      </div>
      <div class="pt-3 d-flex justify-content-between align-item-center">
        <a href="/receive" class="icon-menu">
          <div>
            <i class="bi bi-arrow-down-circle"></i>
          </div>
          <p>Receve</p>
        </a>
        <a href="/buy" class="icon-menu">
          <div>
            <i class="bi bi-bag"></i>
          </div>
          <p>Buy</p>
        </a>
        <a href="/swap" class="icon-menu">
          <div>
            <i class="bi bi-exclude"></i>
          </div>
          <p>Swap</p>
        </a>
        <a href="/withdraw" class="icon-menu">
          <div>
            <i class="bi bi-box-arrow-in-down"></i>
          </div>
          <p>Withdraw</p>
        </a>
        <a href="/send" class="icon-menu">
          <div>
            <i class="bi bi-arrow-up-circle"></i>
          </div>
          <p>Send</p>
        </a>
      </div>
      <div class="activity pt-5">
        <h3>Transaction history</h3>
        <hr>
        <div class="activity-send">
          <p><span id="copy" data-copy="oofzyCywMq2TpTL...PQGiUyBNXDhT4BKP">oofzyCywMq2TpTL...PQGiUyBNXDhT4BKP</span><a href=""><i class="bi bi-arrow-up-right"></i></a></p>
          <div class="d-flex justify-content-between">
            <div>
              <p><span class="c-blue">Transfer</span> to <span id="copy" class="c-blue" data-copy="1FfmbHfnpa...455paPh">1FfmbHfnpa...455paPh</span></p>
              <p>Applied</p>
              <p class="date-transaction">8 months ago</p>
            </div>
            <div>
              <p class="c-green"><span class="amount-transaction">+ <span id="copy" data-copy="0.0512">0.0512</span> BTC</span></p>
            </div>
          </div>
          <hr>
        </div>
        <div class="activity-send">
          <p><span id="copy" data-copy="oofzyCywMq2TpTL...PQGiUyBNXDhT4BKP">oofzyCywMq2TpTL...PQGiUyBNXDhT4BKP</span><a href=""><i class="bi bi-arrow-up-right"></i></a></p>
          <div class="d-flex justify-content-between">
            <div>
              <p><span class="c-blue">Transfer</span> to <span id="copy" class="c-blue" data-copy="1FfmbHfnpa...455paPh">1FfmbHfnpa...455paPh</span></p>
              <p>Applied</p>
              <p class="date-transaction">8 months ago</p>
            </div>
            <div>
              <p class="c-red"><span class="amount-transaction">- <span id="copy" data-copy="0.41">0.41</span> BTC</span></p>
            </div>
          </div>
          <hr>
        </div>
        <div class="activity-send">
          <p><span id="copy" data-copy="oofzyCywMq2TpTL...PQGiUyBNXDhT4BKP">oofzyCywMq2TpTL...PQGiUyBNXDhT4BKP</span><a href=""><i class="bi bi-arrow-up-right"></i></a></p>
          <div class="d-flex justify-content-between">
            <div>
              <p><span class="c-blue">Transfer</span> to <span id="copy" class="c-blue" data-copy="1FfmbHfnpa...455paPh">1FfmbHfnpa...455paPh</span></p>
              <p>Applied</p>
              <p class="date-transaction">8 months ago</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</main>
{{end}}



