{{define "content"}}
  <main>
    <div class="container">
      <div class="main-container">
        <div class="main-header">
          <div class="d-flex justify-content-between">
            <a href="/"><i class="bi bi-arrow-left"></i> back</a>
            <p><i class="bi bi-camera"></i> Receive</p>
          </div>
        </div>
        <div class="receive-content">
          <h2>Address</h2>
          <p>Your current account address. Share it to receive funds.</p>
          <span id="copy" data-copy="15PbLQR1M2Hbvo2gYVrN4BzDeN9yXLMuFb">15PbLQR1M2Hbvo2gYVrN4BzDeN9yXLMuFb</span>
        </div>
        <div class="qr-code-receive">
          <p>QRCode</p>
          <div id="qrcode"></div>
        </div>
      </div>
    </div>
  </main>
  <script src="static/js/QRCreator.js"></script>
  <script src="static/js/receive.js"></script>

  {{end}}