{{define "content"}}
  <main>
    <div class="container">
      <div class="main-container">
            <div class="main-header">
                <div class="d-flex justify-content-between">
                    <a href="/"><i class="bi bi-arrow-left"></i> back</a>
                    <p><i class="bi bi-arrow-up-circle"></i> Send</p>
                </div>
                <div class="receive-content">
                  <h2>Recipient</h2>
                  <p>Address to send BTC funds to.<p>
               </div>
                <form action="" class="send-form">
                  <input type="text" name="" id="" placeholder="e.g. 1FfmbHfnpa...455paPh">
                  <div class="receive-content mt-3">
                    <h2>Amount</h2>
                 </div>
                  <input type="text" name="" id="" placeholder="e.g. 123.45">
                  <button type="submit">Send</button>

                </form>
                
               
            </div>
           

            
      </div>
    </div>
    
  </main>
  {{end}}