<header>
    <div class="container">
      <div class="d-flex align-items-center justify-content-between pt-4">
        <a class="logo-container d-flex align-items-center gap-2" href="/">
          <img src="/static/img/logo/logo_white.svg" alt="logo" class="logo">
          <h3>Delta</h3>
        </a>
        <div class="user-info d-flex align-items-center gap-3">
          <div class="user-details ml-2">
            <p class="user-name">Account 1</p>
            <div class="network-dropdown">
              <select class="network-select">
                <option value="mainnet">Bitcoin Mainnet</option>
                <option value="testnet">Testnet</option>
                <option value="regtest">Regtest</option>
              </select>
            </div>
          </div>
          <div class="avatar dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="avatarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/static/img/avatar/avatar_small.jpg" alt="avatar" class="user-avatar shadow">
            </a>
            <div class="dropdown-menu dropdown-menu-end fade" aria-labelledby="avatarDropdown">
              <a class="dropdown-item" href="#">
                <i class="bi bi-lock"></i> Lock
              </a>
              <a class="dropdown-item" href="#">
                <i class="bi bi-box-arrow-in-down"></i> Import Account
              </a>
              <a class="dropdown-item" href="#">
                <i class="bi bi-gear"></i> Settings
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>