.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 15px;
}



.logo {
  height: 60px;

}

header {
  background: rgb(188,60,216);
  background: linear-gradient(295deg, rgba(188,60,216,1) 0%, rgba(197,75,140,1) 100%);
  padding-bottom: 100px;
}
/* main.css */
.logo-container {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-container h3 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.user-avatar {
  opacity: 0.9;
  transition: opacity 0.2s ease-in-out;
  border: 3px solid #fff;

}
.user-avatar:hover {
  opacity: 1;

}
.user-info {
  display: flex;
  align-items: center;
}

.avatar img {
  height: 70px;
  border-radius: 50%;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.user-name {
  text-align: right;
  color: #fff;
  margin: 0;
  font-weight: bold;
}


/* Стили для select */
.network-select {

  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent; /* Прозрачный фон */
  color: #fff; /* Цвет текста */
  font-size: 14px;
}
.network-select option {
  color: #000;
}

/* Adjust Bootstrap styles for compatibility */
/* Optionally, you can include these styles in your main.css file to keep them separate */

/* Override Bootstrap's default button styles */
.btn {
  border-radius: 5px;
}

/* Override Bootstrap's default form control styles */
.form-control {
  border-radius: 5px;
}

/* Override Bootstrap's default input group styles */
.input-group {
  border-radius: 5px;
}

/* Override Bootstrap's default input group append/prepend styles */
.input-group-text {
  border-radius: 5px;
}



.main-container {
  background-color: #fff;
  margin-top: -70px;
  padding: 50px 100px 10px 100px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 47px -35px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 47px -35px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 47px -35px rgba(0,0,0,0.75);
  

}
@media (max-width: 480px) {
  .main-container {
    max-width: 480px;
    margin: - 70px 0 0 0 ;
    padding: 15px;
  }
}

.name-wallet {
  
  max-width: 24rem;
  font-size: 23px;

}
.address {
  background-color: rgba(247,250,252);
  color: rgba(113,128,150)

}
#copy {
  cursor: pointer;
  transition: 0.2s;
}
#copy:hover {
  background-color: rgba(247,250,252);


}
.amount {
  line-height: 0;
  font-size: 24px;
}

.icon-menu div{
  font-size: 20px;
  border-radius: 3px;
  padding: 5px;
  width: 40px;
  border: none;
  color: #fff;
  background: rgb(188,60,216);
  background: linear-gradient(295deg, rgba(188,60,216,1) 0%, rgba(197,75,140,1) 100%);

}
.icon-menu {

  text-align: center;
  text-decoration: none !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
}
.icon-menu p{
  font-size: 11px;
  color: #000;
}

.custom-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  animation-duration: 0.3s; /* Уменьшаем продолжительность анимации */
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}

.animate__fadeOutRight {
  animation-name: fadeOutRight;
}

.date-transaction {
  line-height: 0;
  color: rgba(160,174,192);
}
.c-blue {
  color: rgba(49,130,206);
}
.activity-send {
  font-size: .75rem;
  line-height: 0.5;

}

.c-green {
  color: rgba(72,187,120)

}
.c-red {
  color: rgba(197,48,48)

}
.amount-transaction {
  font-size: 1rem;
}

.dropdown-toggle::after {
  content: none !important;
}
.dropdown-menu {
  margin-top: 5px !important ;
}


/* receive */

.main-header a{
  text-decoration: none !important;
  color: #000;
}

.main-header p {
  font-weight: bold;
}
.main-header i {
  font-weight: bold;
  color: rgba(113,128,150)

}

.receive-content h2{
  font-size: 1rem !important;
}

.receive-content p{
  font-size: 0.75rem !important;
}
.receive-content span{
  line-height: 0;
  background-color:rgba(247,250,252);
  font-size: 1.25rem !important;
  text-align: center !important;
}
.qr-code-receive {
  text-align: center;
  font-weight: bold;
}
.qr-code-receive p {
  margin-top: 20px;
}
.qr-code-receive canvas{
  
  margin-top: -20px;
  width: 100%;
  height: 100%;
  padding-top: 0; 
}


/* send */


.send-form input{
  width: 100%;
  color: rgba(113,128,150);
  background-color: rgba(247,250,252);
  border: 1px solid rgba(113,128,150);
  padding: 10px;
  border-radius: 5px;
}


.send-form button{
  margin-top: 10px;
  width: 100%;
  color: rgba(113,128,150);
  background: rgb(188,60,216);
  background: linear-gradient(295deg, rgba(188,60,216,1) 0%, rgba(197,75,140,1) 100%);
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-gradient {
  color: #fff !important;
  background: rgb(188,60,216);
  background: linear-gradient(295deg, rgba(188,60,216,1) 0%, rgba(197,75,140,1) 100%);

}
.list-select {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #333;
  transition: border-bottom 0.3s;
}

.list-select:hover {
  border-bottom: 2px solid #333;
}
